#include "OGL.h"

MYICON ICON ".\\resources\\Namasakaram.ico"
IDBITMAP_SUN BITMAP ".\\resources\\Sun.bmp"
IDBITMAP_EARTH BITMAP ".\\resources\\Earth.bmp"
IDBITMAP_MOON BITMAP ".\\resources\\Moon.bmp"
